* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.form input {
  padding: 0px 10px;
}
.form button {
  margin: 0px 10px;
}
.weather {
  text-align: center;
}
.card {
  margin-top: 50px;
}
.card img {
  width: 30%;
  margin-top: 20px;
}
.card .place {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.8;
}
.card .temp {
  font-size: 4rem;
  font-weight: 500;
  margin-left: 30.39px;
}
.whp {
  margin: 20px 0px;
}
.whp .title {
  font-size: 1rem;
}
.whp .data {
  font-size: 1.5rem;
  font-weight: 500;
}
.whp .data .unit {
  font-size: 0.8rem;
}
.card .desc {
  font-size: 1rem;
  font-weight: 500;
}
